@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  max-width: 700px;
  margin: 0 auto;
  padding: 7vw;
  background: #F0FFF0;
}

* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
h2 {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  color: #2F4F4F;
}
label {
  color: #2F4F4F;
}
button {
  margin-left: 33%;
  margin-bottom: 20px;
}
table{
  margin-left: 30px;
}
th{
  color:#2F4F4F;
}
